.tools-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .tools-menu-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
