.container {
  .settings {
    width: 100%;
    .settings-icon {
      width: 18px;
      color: #6b6b6b94;
    }
  }
  .tools-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .tools-menu-item-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
